.App {
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: white;
  padding: 20px;
}

main {
  margin: 20px auto;
  max-width: 800px;
  padding: 20px;
  background-color: #e0e0e0; 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  justify-content: center;
  margin: 20px auto;
  width: 100%; 
  max-width: 360px; 
  padding: 0 20px; 
}

.qso-form label {
  margin-bottom: 5px;
  width: 100%; 
  text-align: left;
}

.qso-form input,
.qso-form textarea {
  margin-bottom: 10px; 
  width: 100%; 
  padding: 8px;  
  box-sizing: border-box; 
}

.qso-form textarea {
  height: 100px; 
  resize: none; 
}

.qso-list {
  margin-top: 20px;
  padding: 20px;
  background-color: #ffffff; 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.qso-list ul {
  list-style: none; 
  padding-left: 0; 
}

.qso-list-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px; 
  padding: 10px;
  border-radius: 5px;
  font-size: 1.1em;
}

.qso-list-item:nth-child(even) {
  background-color: #ecececd6; 
}

.qso-list-item:nth-child(odd) {
  background-color: #ecececd6; 
}

.qso-list-item:hover {
  background-color: #d3d3d3; 
}

footer {
  margin-top: 20px;
  font-size: 0.8em;
  color: #000000;
}

button[type="submit"] {
  background-color: #000000;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

button[type="submit"]:hover {
  background-color: #2e2e2e;
}

button[type="submit"]:active {
  background-color: #003d80;
}

button[type="submit"]:focus {
  outline: none;
  box-shadow: 0 0 3px 2px rgba(69, 70, 70, 0.5);
}

.success-message {
  color: green;
  font-size: 1.2em;
  margin-top: 20px;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  padding: 10px;
  border-radius: 4px;
}

.logged-qso-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.qso-search-bar {
  padding: 5px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-container {
  position: relative;
}

.suggestions-list {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: calc(100% - 2px); 
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
  margin-top: 5px;
  list-style: none;
  padding-left: 0;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

.suggestion-item.selected {
  background-color: #848587;
  color: white;
}

.suggestions-list:focus {
  outline: none; 
}


@media (max-width: 768px) {
  .qso-form {
    max-width: 100%;
  }

  main {
    padding: 10px;
  }

  .qso-list {
    padding: 10px;
  }

  .qso-list-item {
    font-size: 1em;
  }
}

.go-back-button {
  background-color: #4b4c4c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  margin: 20px 0;
  transition: background-color 0.3s ease;
}

.go-back-button:hover {
  background-color: #5e6061;
}

.qso-list-item button {
  background-color: #198754; 
  color: white;
  border: none;
  padding: 8px 16px; 
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em; 
  transition: background-color 0.3s ease;
  margin-top: 5px;
}

.qso-list-item button:hover {
  background-color: #45a049; 
}

.qso-list-item button:active {
  background-color: #3e8e41; 
}

.qso-list-item button:focus {
  outline: none;
  box-shadow: 0 0 3px 2px rgba(76, 175, 80, 0.5); 
}

.edit-qso-form form {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
  align-items: center;
}

.edit-qso-form form div {
  display: flex;
  align-items: center;
  margin-bottom: 10px; 
}

.edit-qso-form form label {
  min-width: 120px; 
  margin-right: 10px; 
  text-align: right; 
}

.edit-qso-form form input,
.edit-qso-form form textarea {
  flex: 1; 
  padding: 6px; 
  box-sizing: border-box;
  height: auto; 
  font-size: 0.9em; 
}

@media (max-width: 768px) {
  .edit-qso-form form {
    grid-template-columns: 1fr; 
  }

  .edit-qso-form form label {
    text-align: left; 
  }
}

.edit-qso-form form button[type="submit"] {
  background-color: #198754; 
  color: white; 
  border: none; 
  padding: 10.5px 27px; 
  border-radius: 4px; 
  cursor: pointer; 
  font-size: 1em; 
  transition: background-color 0.3s ease; 
  max-width: 120px; 
  margin-left: 50px;
}

.edit-qso-form form button[type="submit"]:hover {
  background-color: #45a049; 
}

.edit-qso-form form button[type="submit"]:active {
  background-color: #3e8e41; 
}

.edit-qso-form form button[type="submit"]:focus {
  outline: none;
  box-shadow: 0 0 3px 2px rgba(69, 70, 70, 0.5); 
}

.edit-qso-form button[type="reset"] {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10.7px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
  margin-right: 45px;
  margin-top: 9px;
}

.edit-qso-form button[type="reset"]:hover {
  background-color: rgb(188, 9, 9);
}

.edit-qso-form button[type="reset"]:active {
  background-color: firebrick;
}

.edit-qso-form button[type="reset"]:focus {
  outline: none;
  box-shadow: 0 0 3px 2px rgba(255, 0, 0, 0.5);
}






